.App {
  text-align: center;
  background: rgba(26, 161, 161, 0.753);
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content:space-between;
}
.header{
  background:rgba(255, 255, 255, 0.26);
  border-bottom:1px black;
  height: 3rem;
  display:flex;
  align-items: center;
  padding: 0 12px;
  font-size:1.5rem;
  color:black;
  font-weight: bold;
}
.logo{
  height:1.8rem;
  width:1.8rem;
  margin-right:10px;
  background: url(https://static.thenounproject.com/png/206480-200.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size:cover;
}

.text-input{
  background:rgba(255, 255, 255, 0.26);
  border-top:1px black;
  height: 4rem;
  position:relative; /*must add position relative to parent if want to change child*/
  display:flex;
  align-items:center;
  justify-content:center;
}

.button{
  position: absolute;
  right:1.5rem;
  top:1.2rem;
  height:1.6rem;
  width:1.6rem;
  background: white;
  border-radius: 100%;
  border: 1px white;
  cursor:pointer;
  outline:none;
  font-size:1rem;
  color: black;
}
.send-button[disabled]{
  background:grey;
  cursor: default;
}
.send-button > svg {
  color: black;
}
.send-button[disabled] > svg {
  color: white;
}

.input{
  background:rgba(31, 95, 168, 0.39);
  border: 2px rgb(17, 58, 105);
  border-radius: 10rem;
  height: 2rem;
  width: 70%;
  outline:none;
  width: calc(100% - 3rem);
  padding-left: 10px;
  color: white;
}


.message{
  background:rgba(31, 95, 168);
  color:white;
  border-radius:10px;
  margin:8px;
  display: inline-block;
  padding: 4px 12px;
  position:relative;
}

.message-name{
  position:absolute;
  top:-11px;
  left: 7px;
  font-size: .55rem;
  color: black;
  font-weight: bold;
}

.messages{
  display:flex;
  flex-direction:column-reverse;
  flex: 1;
  overflow: auto;
  
}

.previous-text{
  margin: 1rem;
  background:rgba(112, 112, 112, 0.329);
	border-radius: 10rem 10rem 10rem 0;
  height:1rem;
  padding:.5rem 1rem;
  display: flex;
  align-self: flex-start;
  justify-content:flex-start; 
}

.message-row{
  width:100%;
}

.name-picker{
  position: absolute;
  right:1rem;
  top:1rem;
  display:flex;
  align-self: flex-end;
}

.edit-button{
  border: none;
  background: none;
  cursor:pointer;
  outline:none;
}

.username{
  font-size:1rem;
  color:rgb(31, 95, 168);
}

.name-input{
  background:rgba(255, 255, 255, 0.432);
  border:none;
  border-radius: 10rem;
  outline:none;
  padding-left: 10px;
  margin-right: 5px;
  height: 1.2rem;
}

.save-button{
  background: rgba(255, 255, 255, 0.692);
  border:none;
  outline:none;
  border-radius: 10rem;
  height: 1.2rem;
  cursor:pointer;
  color: black;
}

.name{
  color: black;
  font-size: .8rem;
}